.cardEcommerce {
    width: 190px;
    max-height: 400px;
    padding: .8em;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }
   
   
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;  
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   
   
   .card-button:hover {
    border: 1px solid #ADD063;
    background-color: #ADD063;
   }
   .postEcommerce{
    height: 90%;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    overflow-y: auto;

    
    
    
   }
   